.fake-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    .top-content {
        flex-grow: 1;
        .main-nav {
            ul.items>li>a {
                text-transform: uppercase;
                text-decoration: none;
                color: #333;
            }
            ul.items>li>a:hover {
                font-weight: bold;
            }
        }
    }
    .bottom-content {
        padding-bottom: 10vh;
    }
}